<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @product.flavor %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Offical url:</strong>
  <%= @product.offical_url %>
</p>

<p>
  <strong>Amazon url:</strong>
  <%= @product.amazon_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
